body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    padding: 20px;
}

header {
    background-color: #fff3e0;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 30px;
}

h1 {
    font-size: 2.5em;
    color: #ff5722;
}

p {
    font-size: 1.2em;
}

.form-container {
    background-color: #ffecb3;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

input, select, button {
    margin: 10px 0;
    padding: 10px;
    width: 80%;
    max-width: 300px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

button {
    background-color: #ff9800;
    color: white;
    cursor: pointer;
    border: none;
}

button:hover {
    background-color: #fb8c00;
}

#thankYouMessage {
    font-size: 1.5em;
    color: #388e3c;
    font-weight: bold;
}
